.dropdown-enter {
  opacity: 0;
  transform: translateY(30px);
}
.dropdown-enter-active {
  opacity: 1;
  transition: opacity 0.4s, transform 0.4s;
  transform: translateY(0px);
}

.dropdown-enter-done {
  opacity: 1;
  transition: opacity 0.4s;
}

.dropdown-exit {
  opacity: 1;
  transform: translateY(0px);
}
.dropdown-exit-active {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.4s, transform 0.4s;
}

.menu-enter {
  opacity: 0;
  height: 0px;
  border: inherit;
  padding: inherit;
}

.menu-enter-active {
  height: var(--height);
  opacity: 1;
  border: inherit;
  padding: inherit;
  transition: all 0.3s;
}

.menu-enter-done {
  height: auto;
  opacity: 1;
  border: inherit;
  padding: inherit;
}

.menu-exit {
  opacity: 1;
  height: var(--height);
  border: inherit;
  padding: inherit;
}
.menu-exit-active {
  opacity: 0;
  height: 0px;
  padding: 0 !important;
  border: 'none' !important;
  transition: all 0.3s;
}

/* nav menu */

.nav-menu-enter {
  height: 0px;
  border: inherit;
  padding: inherit;
  overflow: hidden;
}

.nav-menu-enter-active {
  height: 256px;
  transition: all 0.2s;
  border: inherit;
  padding: inherit;
  overflow: hidden;
}

.nav-menu-enter-done {
  height: auto;
  transition: all 0.2s;
  border: inherit;
  padding: inherit;
  overflow: hidden;
}

.nav-menu-exit {
  height: 256px;
  border: inherit;
  padding: inherit;
  overflow: hidden;
  padding: 0 !important;
}
.nav-menu-exit-active {
  height: 0px;
  padding: 0 !important;
  border: unset !important;
  transition: all 0.2s;
  overflow: hidden;
}
