.dropdown-enter {
  opacity: 0;
  transform: translateY(30px);
}
.dropdown-enter-active {
  opacity: 1;
  transition: opacity 0.4s, transform 0.4s;
  transform: translateY(0px);
}

.dropdown-enter-done {
  opacity: 1;
  transition: opacity 0.4s;
}

.dropdown-exit {
  opacity: 1;
  transform: translateY(0px);
}
.dropdown-exit-active {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.4s, transform 0.4s;
}
